* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 600px;
}

.container h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.container form textarea{
    min-width: 100%;
    height: 200px;
}

.progress-bar {
    width: 0%;
    background-color: red;
    text-align: center;
}

